{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Александр</h1>
        <p class="lead text-muted">Массы никогда не восстают сами по себе и никогда не восстают только потому, что они угнетены. Больше того, они даже не сознают, что угнетены, пока им не дали возможности сравнивать. Если ты в меньшинстве — и даже в единственном числе, — это не значит, что ты безумен.</p>
        <img src="{% static 'venom.jpg' %}" alt="venom" width="300px">
        <p>
          <a href="mailto:mixft@mail.ru" class="btn btn-primary my-2">Отправить нам письмо</a>
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          {% for job in jobs %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="{{ job.image.url }}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">{{ job.summary }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
